@keyframes silver-shine {
  0% { transform: translateX(-150%) skewX(-20deg); }
  100% { transform: translateX(200%) skewX(-20deg); }
}

.animate-silver-shine {
  animation: silver-shine 0.7s linear forwards;
}
